@model IEnumerable<VanillaMovieShop.Models.Db.Movie>

<div class="container">
    <div class="row gy-4">
        @* card-deck *@
        @foreach (var item in Model)
        {

            <div class="col-md-2 card m-3">
                <img class="p-2 card-img-top" src="/Images/@item.Image" style="height:250px"  alt="Image">
                @* @Html.DisplayFor(modelItem => item.Image)  *@

                <div class="card-body">

                    @Html.DisplayNameFor(model => model.Title)         : @Html.DisplayFor(modelItem => item.Title)<br />
                    @Html.DisplayNameFor(model => model.Director)      : @Html.DisplayFor(modelItem => item.Director)<br />
                    @Html.DisplayNameFor(model => model.ReleaseYear)   : @Html.DisplayFor(modelItem => item.ReleaseYear)<br />
                    @Html.DisplayNameFor(model => model.Price)         : @Html.DisplayFor(modelItem => item.Price)<br />
                    @Html.DisplayNameFor(model => model.Genre)         : @Html.DisplayFor(modelItem => item.Genre)<br />
                    @Html.DisplayNameFor(model => model.Actors)        : @Html.DisplayFor(modelItem => item.Actors)<br />

                </div>
 <a href="#" class="btn btn-primary text-white">Add to Cart</a>

  </div>
}
  </div>
</div>
